# Requires Python 3.10.12
mediapipe==0.10.21
opencv-python==4.10.0
numpy==1.26.4
deepface==0.0.93
ultralyticsplus==0.0.28
transformers==4.50.0
tqdm==4.67.1
protobuf==4.25.6
nltk==3.9.1
gaze_tracker==0.1.3